html, body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #FFF;
  font-family: sans-serif;
}

main {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

section {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h2 {
  display: none;
}

.one {
  background: url('https://media.giphy.com/media/oBwOba7cOph4I/giphy.gif');
}

.two { 
  background: url('https://media.giphy.com/media/l44QzsOLXxcrigdgI/giphy.gif');
}

.three {
  background: url('https://media.giphy.com/media/Cw4TNLbIHmobS/giphy.gif');
}

.four {
  background: url('https://media.giphy.com/media/3oKIPpaHCfN7ECPIGs/giphy.gif');
}

.five {
  background: url('https://media.giphy.com/media/xT4uQvE6Dm6go7psJ2/giphy.gif');
}

.six {
  background: url('https://media.giphy.com/media/720g7C1jz13wI/giphy.gif');
}

.seven {
  background: url('https://media.giphy.com/media/l0HlUG5M4pNZ0X42I/giphy.gif');
}

.eight {
  background: url('https://media.giphy.com/media/2H7tpGRWbZMTC/giphy.gif');
}

.nine {
  background: url('https://media.giphy.com/media/3o6MbrZ5XZFO294O8o/giphy.gif');
}

.ten {
  background: url('https://media.giphy.com/media/HUkOv6BNWc1HO/giphy.gif');
}

.eleven {
  background: url('https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif');
}

.twelve {
  background: url('https://media.giphy.com/media/42eo5Mvgji3Dy/giphy.gif');
}